* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-clr: #1f2937;
  --highlight-clr: #3882f6;
}


body {
  margin: 0;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

header, #hero {
  background-color: var(--main-clr);
  padding: 20px;
}

.logo img {
  max-width: 210px;
}

.dflex {
  display: flex;
}

header .dflex {
  justify-content: space-between;
  align-items: center;
}

header nav ul a {
  color: #fff;
  text-decoration: none;
  
}

header nav ul a:hover {
  color: var(--highlight-clr);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

#hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0 0 20px;
}

#hero .sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

#hero .col {
  flex: 1;
}

#hero .col:nth-child(1) {
  align-self: center;
  margin-right: 50px;
}

img {
  width: 100%;
}

#hero {
  padding: 100px 20px;
}

a#sign-up {
  background-color: var(--highlight-clr);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 25px;
  border-radius: 5px ;
  display: inline-block;
}

#services {
  padding: 30px 20px;
  & h2 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 30px;
  
  }
  & .dflex {
    gap: 60px;
    margin-top: 60px;
  }

  & .col {
    text-align: center;
    & img {
      max-width: 150px;
    }

    & .img-wrapper {
      background-color: #fff;
      border: 5px solid var(--highlight-clr);
      border-radius: 10px;
      width: 200px;
      margin: 0 auto;
      padding: 25px 15px ;
    }
  }
  
}
