body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body a {
    color: #3882F6;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}


/* Header style */

.header {
    background-color: #1F2937;

}

.site-logo {
    width: 250px;
    flex-shrink: 0;
}


.header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.header-menu a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.125rem;
    transition: 0.4s all ease;
}

.header-menu a:hover {
    color: #3882F6;
}



/* Banner style */


.hero-banner h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0;
}

.hero-banner {
    background-color: #1f2937;
 
}

.hero-banner, .quote, .services, .cta {
    padding: 5rem 0;
}

.hero-banner .container.d-flex {
    gap: 60px;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.hero-banner p {
    color: #E5E7EB;
    font-size: 1.125rem;
    line-height: 1.5em;
}

img.hero-img {
    width: 100%;
}

.button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    width: fit-content;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.4s ease;
}

.button:hover {
    background-color: #fff;
    color: #3882F6;
}


/* Services */

.services .container.d-flex {
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 150px;
}

.container-wrapper{
    flex-wrap: wrap;
}

.services .inner-container {
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.container-wrapper .column.item {
    flex: initial;
    width: 210px;
    align-items: center;
}


.container-wrapper .column.item p {
    text-align: center;
    line-height: 1.5em;
    color: #1F2937;
}

.container h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5rem;
    color: #1F2937;
    margin-top: 0;
    line-height: 1.4em;
}


/* Quote style */

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    width: 1000px;
}

h3.quote-txt {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
}

.quote .container.d-flex {
    flex-direction: column;
    gap: 20px;
}

.quote-author {
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
}

.container h4 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.container p {
    margin-top: 0;
}

.cta .container {
    background-color: #3882f6;
    
    align-items: center;
    color: #fff;
    border-radius: 0.5rem;
    
}

.cta .inner-container {
    padding: 3rem;
}

.cta .container p {
    margin-bottom: 0;
}

.cta .column.left {
    flex: 3;
}

.cta a.button {
    margin-top: 0;
}

.cta a.button {
    margin-top: 0;
    border: 2px solid;
}

.cta .column.right {
    align-items: center;
}

.inner-container {
    flex-basis: 1000px;
    flex-wrap: wrap;
}

